*{
  margin: 0;
  padding: 0;
}
/* =======================================================
top section
========================================================== */
#top{
  background-image: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, .4) 100%), url(img/donation10.jpg);
  width: 100%;
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-position: top center;
}
#top div{
  width: 100%;
  position: absolute;
  margin-top: 200px;
}
#top div h1{
  font-family: inter, sans-serif;
  letter-spacing: 1px;
  font-size: 45px;
  font-weight: bold;
  color: #fff;
}
#top div p{
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  color: #fff;
}
.button{
  font-family:'Inter', sans-serif;
  display: inline-block;
  margin: 22px auto 0;
  padding: 12px 16px;
  background: #FF5959;
  text-decoration: none;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  letter-spacing: 1px;
}
/* =======================================================
section-2
========================================================== */
#section-2{
  width: 100%;
  height: 100vh;
  background-color: #fff;
}
.div-1{
  margin-top: 120px;
}
.div-1 h2{
  font-family: inter, sans-serif;
  text-align: center;
  font-size: 45px;
  color: #121212;
}
.div-1 p{
  margin: 3px;
  letter-spacing: 1px;
  font-family: poppine, sans-serif;
  text-align: center;
  font-weight: 400;
  color: #707070;
}
.div-2{
  margin-top: 100px;
  justify-content:space-evenly;
  display: flex;
}
.div-2 div{
  font-family: inter, sans-serif;
  font-size: 40px;
  margin: 0 50 px;
  padding: 60px 40px;
  border-radius: 10px;
}
.num-1{
  background: #f5f5f5;
}
.num-2{
  background: #FFEEEE;
  color: #FF5959;
  border: 3px solid #FF5959;
}
.num-3{
  background: #f5f5f5;
}
.num-4{
  background: #f5f5f5;
}
.num-5{
  background: #f5f5f5;
}
.div-3{
  margin-top: 100px;
}
.input{
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 580px;
  padding:10px 15px;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid #707070;
  outline: none;
  font-size: 18px;
}
.div-3 .btn{
  display: block;
  margin: 30px auto;
  width:130px;
  padding: 14px 18px;
  background-color: #FF5959;
  border-radius: 5px;
  color:white;
  font-weight:bold;
  font-size: 17px;
  text-decoration: none;
  text-align: center;
  font-family: inter,sans-serif;
  letter-spacing: .5px;
}
/* =======================================================
section-3
========================================================== */
#section-3{
  width: 100%;
  height: 100vh;
  background-color: #fff;
}
#section-3 .text{
  text-align: center;
  margin-top: 120px;
}
#section-3 .text h2{
  font-family: inter, sans-serif;
  text-align: center;
  font-size: 45px;
  color: #121212;
}
#section-3 .text p{
  margin: 3px;
  letter-spacing: 1px;
  font-family: poppine, sans-serif;
  text-align: center;
  font-weight: 400;
  color: #707070;
}
.icon{
  margin-top: 80px;
  display: flex;
  justify-content:space-between;
}
.icon div{
  margin: 0 35px;
  padding: 60px 40px;
  border-radius: 5px;
}
.icon div img{
  width: 20%;
  margin: 5px 0;
}
.icon div h4{
  margin: 4px 0;
  font-family: poppine, sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.icon div p{
  font-family: poppine, sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  letter-spacing: 1px;
}
.icon-1{
  background: rgba(79, 157, 166, 0.1);
}
.icon-2{
  background: rgba(255, 89, 89, 0.1);
}
.icon-3{
  background: rgba(255, 227, 65, 0.15);
}
/* =======================================================
section-4
========================================================== */
#section-4{
  width: 100%;
  height: 100vh;
}
#section-4 div{
  margin-top: 250x;
}
#section-4 div h2{
  font-family: inter, sans-serif;
  text-align: center;
  font-size: 45px;
  color: #121212;
}
#section-4 div p{
  margin: 3px;
  letter-spacing: 1px;
  font-family: poppine, sans-serif;
  text-align: center;
  font-weight: 400;
  color: #707070;
}
#section-4 .search-box{
  width: 40%;
  padding: 70px 50px;
  margin: 70px auto;
  border-radius: 5px;
  background: #FFF4D6;
}
#section-4 .search-box input{
    width: 55%;
    padding: 15px 18px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-family: inter, sans-serif;
    background-color: #D9D9D9;
}
#section-4 .search-box label{
  width: 40%;
  cursor: pointer;
  background-color: #FF5959;
  padding: 12px 33px;
  border-radius: 5px;
  font-family: inter, sans-serif;
  color: #fff;
}
/* =======================================================
footer
========================================================== */
footer{
  background-color: #0B0D17;
  height: 180px;
  text-align: center;
  padding-top: 60px;
}
footer h1{
  font-family: inter, sans-serif;
  font-size: 50px;
  letter-spacing: 3px;
  font-family: 'Lobster', cursive;
  color: #FF5959;
}
footer h3{
  font-family: popine, sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 20px;
  font-size: 18px;
  color: #FFf;
}